[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
python-graphql-client = "*"
pydantic = "*"
streamlit-pills = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.12"

[scripts]
dev = "streamlit run src/app.py"
